
 html{margin:0;}
 body {
 font-family: 'Cormorant Garamond', serif;
 }

 a:link, a:visited, a:active {
     color:#2B2B2B;
     text-decoration:none;     
 }
 ul li a {
     text-decoration:none;
 }

 a:hover {
       color: red; 
 }

/*////HEADER//////*/
header{ 
  padding: 10px;
position: fixed;
height: 200px;
display: grid;
grid-template-columns:2fr 1fr 2fr;
}
.description{font-style: italic;
  font-size: 2rem;
text-shadow: 2px 2px 2px #fff;
}
.logo a img{width: 300px;}
.logo{margin: 0 auto;}

#nav ul li{
  font-weight: 400i;
  font-size: 1.4rem;
  display: inline-block;
 }
nav .categories{
/*font-variant: small-caps;
letter-spacing: 0.1rem;*/
  float: left;
  font-size: 1rem;
 }
.ex-links{ float: right;}
.ex-links a{
  font-size: 1.4rem;
font-style: italic;
 color:red;

 }
.ex-links a:hover {
 opacity: 0.5;
 }

nav ul li { padding-right: 10px;
 }
/*////BODY//////*/
.inactive{opacity: 0;}
.main {
  padding-top: 180px;
  display: grid | inline-grid;
  padding-bottom: 50px;
}

.main a img{
  max-width: 300px;
}

.project-gallery img{}
.project-gallery {
  display: inline-block;
  padding: 10px;
}
.project-gallery p{
margin: 0}
.project-title{text-align: center;}

/*.fancybox-bg{background: red;}
*/.fancybox-inner{background-color: rgba(255,0,0,.5);}

.fancybox-show-caption .fancybox-caption { background: none;  }
.fancybox-caption__body{font-size: 1.4rem;}
.fancybox-navigation  .fancybox-button{background: transparent;}
.fancybox-toolbar .fancybox-button{background: transparent;}
.fancybox-infobar{color:white;}

/*////FOOTER//////*/
footer{
  font-size: .9rem;
  position: fixed;
   left: 0;
   bottom: 0;
 width: 100%;
  height: 20px;
background: #FF0000;
color: white;
padding: 8px;
 }
footer ul li{ 
  margin-right: 10px;
  display: inline-block; }
.footer-links li a{ color: white;}
.footer-links li a:hover{ opacity: 0.5;}
footer ul {margin: 0;}
/*////Media screens//////*/

@media only screen and (max-width: 600px) {
  body {
    margin-left: -30px;
    max-width: 100%;
  }
